
.spacer{
	margin-top:50px;
	margin-left:300px;
}
.panel-heading{
    background-color: #D01C22;
    border-color:#D01C22;
    color:#fff;	
}

.div.dataTables_wrapper {
        margin-bottom: 3em;
    }
   
   
   
   
  
                    
.navbar-default {
 
background-color: #D01C22;
border-color:#D01C22;
}


.navbar-fixed-bottom{
background-color: #D01C22;
border-color:#D01C22;	

}
.user{
	color: #D01C22;
	font-size: 16px;
	font-weight : bolder;
	
}
.navbar-fixed-bottom{
	
	color:#fff;
	background-color: #D01C22;
     border-color:#D01C22;
	
}

.navbar-default .navbar-nav>li>a{
	color:#fff;
	
	
}


.table-striped thead > tr > th {
vertical-align: bottom;
border-bottom: 1px solid #1c1e22;
}

.table-entete {
  font-size : 12px; 
  font-family : Verdana, arial, helvetica, sans-serif; 
  color : #333333; 
  background-color:#C1BBBD; 
}




.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-color:#D01C22;
            color:#fff;
            
 }

.nav navbar-nav {
 
  background-color:#fff;
 }
 
 .navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
color: #000;
background-color: #fff;
}

.nav navbar-nav{
	background-color:#fff;
}


.image{
	margin-left:10px;
	
	

}


.btn-danger{
	
background-color: #D01C22;
border-color:#D01C22;
	
}
.panel-default >.panel-heading{
	background-color: #D01C22;
    border-color:#D01C22;
    color:#fff;
                                            /*     table */
}
.panel-heading{
	color:#fff;
	weight:50px;
}


.impair:hover>td{
	  background-color:#C1BBBD; 
	  color:#000;
	  
}





body{background-color:#fff;font-family:arial}
#.nav navbar-nav{list-style:none;margin: 0px;
padding: 0px;}
#nav li {
float: left;
margin-right: 20px;
font-size: 14px;
font-weight:bold;
}
#nav navbar-nav li a{color:#333333;text-decoration:none}
#nav navbar-nav li a:hover{color:#006699;text-decoration:none}
#notification_li{position:relative}
#notificationContainer {
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 57px;
margin-left: -170px;
width: 400px;
z-index: -1;
display: none;
}
#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 188px;
}
#notificationTitle {
z-index: 1000;
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
width: 384px;
border-bottom: 1px solid #dddddd;
}
#notificationsBody {
padding: 33px 0px 0px 0px !important;
min-height:300px;
}
#notificationFooter {                                        /*notification*/
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}
#notification_count {
padding: 3px 7px 3px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
margin-left: 77px;
border-radius: 9px;
position: absolute;
margin-top: -11px;
font-size: 11px;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}



//template dashboard


.pull-right{
background: #fff; 
cursor: pointer;
 padding: 5px 10px;
  border: 1px solid #ccc"
}