
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8" />


<head>
<!--Load the AJAX API-->
<link href="//code.jquery.com/jquery-1.12.4.js" rel="stylesheet"/>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript"  src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="myjs/googlechart.js"></script>



</head>

<body>



<div id="salesarea">
<table id="salestable" class="table table-bordered customtable">
<thead>
<tr>
<th>Brand</th><th>Sales</th>

</tr>
</thead>
<tbody>

</tbody>


</table> 
</div>
<div  id="piecharte">
</div>



</body>
</html>