
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Confirmation Type service</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>

<div class="container">

<div class="panel panel-default">
<div class="panel-heading">Confirmation Typeservice</div>
<div class="panel-body">




<div class="form-group">
<label>type service:</label>
<label th:text="${service.nomtypeservice}"></label>
</div>

<div class="form-group">
<label>code site:</label>
<label th:text="${service.codesite}"></label>
</div>

<div class="form-group">
<label>debit:</label>
<label th:text="${service.debit}"></label>
</div>
<div class="form-group">
<label>adressewan:</label>
<label th:text="${service.adressewan}"></label>
</div>
<div class="form-group">
<label>adresselan:</label>
<label th:text="${service.adresselan}"></label>
</div>
<div class="form-group">
<label>nbrecanaux:</label>
<label th:text="${service.nbrecanaux}"></label>
</div>
<div class="form-group">
<label>plagesda:</label>
<label th:text="${service.plagesda}"></label>
</div>
<div class="form-group">
<label>nbresda:</label>
<label th:text="${service.nbresda}"></label>
</div>
<div class="form-group">
<label>dateGo:</label>
<label th:text="${service.dateGo}"></label>
</div>
<div class="form-group">
<label>datereceptionCRM:</label>
<label th:text="${service.datereceptionCRM}"></label>
</div>
<div class="form-group">
<label>numfacturation:</label>
<label th:text="${service.numfacturation}"></label>
</div>
<div class="form-group">
<label>codecas:</label>
<label th:text="${service.codecas}"></label>
</div>





</div>
</div>
</div>
</body>
</html>