<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Confirmation passation</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>

<div class="container">

<div class="panel panel-default">
<div class="panel-heading">Confirmation passation</div>
<div class="panel-body">




 <div class="form-group"> 
<label>Client:</label>
 <label th:text="${passation.nomclient}"></label> 
</div> 

 <div class="form-group"> 
 <label>Site:</label> 
<label th:text="${passation.nomsite}"></label> 
 </div> 
 <div class="form-group"> 
 <label>Type service:</label> 
<label th:text="${passation.nomtypeservice}"></label> 
 </div> 


<div class="form-group"> 
 <label>Type service:</label> 
<label th:text="${passation.etat}"></label> 
 </div> 
 







<!-- <div class="form-group"> -->
<!-- <label>Integrer par:</label> -->
<!-- <label th:text="${passation.integrepar}"></label> -->
<!-- </div> -->

<!-- <div class="form-group"> -->
<!-- <label>Date de passation:</label> -->
<!-- <label th:text="${passation.datepassation}"></label> -->
<!-- </div> -->

<!-- <div class="form-group"> -->
<!-- <label>Etat:</label> -->
<!-- <label th:text="${passation.etat}"></label> -->
<!-- </div> -->





</div>
</div>

</div>

</body>
</html>