<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>

<div class="container">

<div class="panel panel-default">
<div class="panel-heading">Confirmation marque</div>
<div class="panel-body">


<div class="form-group">
<label>Nom marque:</label>
<label th:text="${marquequipement.nommarque}"></label>
</div>



</div>
</div>
</div>
</body>
</html>